.top_image_szyw{
    background: url("../images/top_image_szyw.png") no-repeat;
    width:1000px;
    height: 301px;
    position: relative;
}

.top_szyw{
    background: url("../images/top_szyw.png") no-repeat;
    width: 1000px;
    height: 90px;
    position: absolute;
    top: 211px;
}

.left_navi ul{
    float: left;
    width: 250px;
    margin-left: 5px;
}
.left_navi li{
    width: 250px;
    height: 40px;
    font: 20px "微软雅黑";
    line-height: 40px;
}

.left_navi li a{
    display: block;
    width: 225px;
    height: 40px;
    padding-left: 25px;
    margin-top: 15px;
    border-radius: 3px;
}

.left_navi li a:link, .left_navi li a:visited {
    color: #8c1515;
    background: white url("../images/news_navi_arrow.png") no-repeat 225px 15px;
    border: solid 1px #8c1515;
}

.left_navi li a:hover, .left_navi li a:active {
    color: white;
    background: #8c1515 url("../images/news_navi_arrow_active.png") no-repeat 225px 15px;
    border: solid 1px #610f0f;
}

#left_navi_active{
    color: white;
    background: #8c1515 url("../images/news_navi_arrow_active.png") no-repeat 225px 15px;
    border: solid 1px #610f0f;
}

.right_news_lists{
    float: left;
    width: 715px;
    margin-left: 30px;
}

.news_location{
    font: 17px "黑体";
    padding: 10px 20px;
    border-left: solid 10px #b7b7b7;
}

.news_location a{
    color: black;
}

.news_location a:hover, .news_location a:active {
    color: #8c1515;
    text-decoration: underline;
}

.news_location span{
    color: #8c1515;
}

.news_lists{
    min-height: 300px;
}

.news_lists a{
    color: black;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "宋体";
    float:left;
}

.news_lists a:hover, .news_lists a:active {
    color: #8c1515;
    text-decoration: underline;
}

.date{
    float: right;
    padding: 10px 20px;
    font-size: 16px;
    font-family: "宋体";
}


.news_pages{
    text-align: center;
    margin: 30px 0;
}

.news_pages a{
    color: black;
}

.news_pages a:hover, .news_pages a:active{
    color: #8c1515;
    text-decoration: underline;
}

/*新闻内容页开始*/
.top_image_szyw_content{
    background: url("../images/top_image_szyw_content.png") no-repeat;
    width:1000px;
    height: 301px;
}

.left_image{
    width: 182px;
    height: 352px;
    background: url("../images/news_content_left_image.png");
    float: left;
}

.right_news_content{
    width: 800px;
    float: left;
    min-height: 600px;
}

.article_title{
    font: 28px "微软雅黑";
    color: #8c1515;
    text-align: center;
}

.article_information{
    font: 16px "宋体";
    color: #777777;
    text-align: center;
    padding: 5px;
}

.article_line{
    width: 800px;
    height: 4px;
    border-top: solid 4px #ad0000;
}

.article_content{
    font: 16px "宋体";
    color: black;
    line-height: 30px;
    padding: 20px;
}

/*组工宣传*/
.top_image_zgxc{
    background: url("../images/top_image_zgxc_content.png") no-repeat;
    width:1000px;
    height: 301px;
}

/*干部工作*/
.top_image_gbgz{
    background: url("../images/top_image_gbgz.png") no-repeat;
    width:1000px;
    height: 301px;
    position: relative;
}

.top_gbgz{
    background: url("../images/top_gbgz.png") no-repeat;
    width: 1000px;
    height: 90px;
    position: absolute;
    top: 211px;
}

/*人才工作*/
.top_image_rcgz{
    background: url("../images/top_image_rcgz.png") no-repeat;
    width:1000px;
    height: 301px;
    position: relative;
}

.top_rcgz{
    background: url("../images/top_rcgz.png") no-repeat;
    width: 1000px;
    height: 90px;
    position: absolute;
    top: 211px;
}

/*党建工作*/
.top_image_djgz{
    background: url("../images/top_image_djgz.png") no-repeat;
    width:1000px;
    height: 301px;
    position: relative;
}

.top_djgz{
    background: url("../images/top_djgz.png") no-repeat;
    width: 1000px;
    height: 90px;
    position: absolute;
    top: 211px;
}